<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <h2>Login</h2>
    <div class="alert" th:if="${errorMessage}" th:text="${errorMessage}"></div>
    <form method="post" action="/login">
        <label>Name </label>
        <input name="j_username"/>
        <label>Password </label>
        <input name="j_password"/>
        <input type="submit" value="Login"/>
    </form>
</div>
</body>
</html>
